@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-decoration: none;
    transition: 0.6s;
}
.background {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;  
}
.card {
    box-sizing: border-box;
    box-shadow: 1px 1px 3px rgb(203, 203, 203);
    border-radius: 10px;
    background: rgb(233, 250, 255);
    padding: 3rem 2rem;
    margin: 1rem 0;
}
.formulario {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.titulo {
    color: rgb(110, 110, 110);
    padding-bottom: 2rem;
    font-size: 24px;
    text-align: center;
}
.label__formulario {
    padding-bottom: 5px;
    color: rgb(119, 119, 119);
}
.input__formulario {
    box-sizing: border-box;
    box-shadow: 1px 1px 3px rgb(203, 203, 203);
    border-radius: 10px;
    font-size: 15px;
    padding: 0.5rem;
    color: rgb(45, 44, 44);
    width: 100%;
    margin-bottom: 1rem;

}
.input__formulario:hover, .textarea:hover, .nossoContato:hover, .h__atendimento:hover, .h__selecao:hover, .botao:hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.291);
}
.textarea {
    box-shadow: 1px 1px 3px rgb(203, 203, 203);
    border-radius: 10px;
    font-size: 15px;
    padding: 0.5rem;
}
::placeholder {
    color: rgba(142, 141, 141, 0.289);
}
.botao {
    border-radius: 10px;
    background: rgb(82, 134, 255);
    margin-top: 2rem;
    font-size: 24px;
    color: white;
    padding: 0.5rem;
    cursor: pointer;
}
.nossoContato {
    margin-top: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.298);
    padding: 1rem; 
}
legend {
    font-size: 11px;
}
.radio {  
    font-size: 15px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
label {
    cursor: pointer;
}
.h__atendimento {
    margin-top: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.298);
    padding: 0.7rem 1rem;
    
}
.h__selecao {
    box-shadow: 1px 1px 3px rgb(203, 203, 203);
    border-radius: 5px;
    font-size: 17px;
    margin-bottom: 1rem;
    cursor: pointer;
}
.newlater {
   margin: 1.3rem 0.5rem 0 0;
   cursor: pointer;
}
.receber {
    font-size: 10px;
    cursor: pointer;
}
@media screen and (min-width: 768px) {
    .card {
        width: 400px; 
    }
    legend {
        font-size: 15px;
    }
    .receber {
        font-size: 15px;
    }
    .titulo {
        font-size: 32px;
    }
}
@media screen and (min-width: 1024px) {
    .card {
        width: 600px; 
    }
}
